.music-player--container {
  position: sticky;
  bottom: 52px;
  left: 0;
  right: 0;
  z-index: 10;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0 5px 0;
  background: linear-gradient(89.93deg, #20344b 2.2%, #623060 96.95%);
  transition: 0.5s ease-in-out;

  @media only screen and (min-width: 850px) {
    order: 3;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 300px;
    top: 0px;
    left: unset;
    bottom: 0px;
    right: -300px;
    // width: 0;
  }

  .music-player__close--btn--container {
    display: none;
  }

  .music-player__time--container {
    display: none;
  }

  .music-player__avatar--image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 20px;

    @media only screen and (min-width: 850px) {
      width: 80%;
      min-width: 200px;
      height: auto;
      margin: 0;
    }
  }

  .music-player--info {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;

    @media only screen and (min-width: 850px) {
      min-width: 200px;
      all: unset;
      flex-grow: unset;
    }
    .music-player__name {
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;

      @media only screen and (min-width: 850px) {
        font-size: 2rem;
      }
    }

    & > .line {
      font-size: 1.5rem;
      color: #fff;
    }

    .music-player__title {
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;

      @media only screen and (min-width: 850px) {
        font-size: 3rem;
      }
    }
  }
  .music-player__controllers--container {
    display: flex;
    align-items: center;
    gap: 7px;

    @media only screen and (min-width: 850px) {
      width: 90%;
    }

    & > .play-icon--container {
      background-color: #fa7f02;
      display: grid;
      place-content: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;

      & > .play-icon {
        font-size: 2rem;
        color: #fff;
      }
    }

    & > .arrow-icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
  &.open {
    position: absolute;
    height: calc(100% - 52px);
    flex-direction: column;

    @media only screen and (min-width: 850px) {
      position: fixed;
      height: 100%;
      overflow: hidden;
      transform: translateX(-300px);
    }

    .music-player__close--btn--container {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 60px;
      background-color: rgba(48, 48, 48, 0.438);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .music-player__close--btn {
        font-size: 3.4rem;
        color: #fff;
        transform: translateY(5px);
      }
    }

    .music-player__avatar--image {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-left: 0;
      max-height: 55%;
      margin-bottom: 10px;
      // object-fit: cover;

      @media only screen and (min-width: 850px) {
        width: 80%;
      }
    }

    .music-player__time--container {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .music-player__time--current,
      .music-player__time--total {
        font-size: 2rem;
        color: #fff;
      }
    }

    .music-player__controllers--container {
      width: 60%;
      justify-content: space-between;

      @media only screen and (min-width: 850px) {
        width: 90%;
        justify-content: center;
        gap: 10px;
      }

      & > .play-icon--container {
        width: 50px;
        height: 50px;

        & > .play-icon {
          font-size: 3rem;
        }
      }

      & > .arrow-icon {
        width: 50px;
        height: 50px;
      }
    }

    .music-player--info {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 45px;
      flex-grow: 0;
      margin-bottom: 10px;

      @media only screen and (min-width: 850px) {
        padding: 0;
        margin-left: 20px;
      }
      .music-player__name {
        font-size: 2rem;
      }

      & > .line {
        display: none;
      }

      .music-player__title {
        font-size: 3rem;
      }
    }
  }
}
