.mainPanel {
  width: 100%;
  height: 100%;
  background-image: url("../public/images/bg-main-mobile.png");
  backdrop-filter: blur(9px);
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

  .mainPanel--container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .mainPanel__routes--container {
      flex-grow: 1;
      padding-left: 15px;
      overflow-y: auto;
    }

    .music-player--container {
      position: sticky;
      bottom: 52px;
      left: 0;
      right: 0;
      z-index: 10;
      height: 50px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px 0;
      background: linear-gradient(89.93deg, #20344b 2.2%, #623060 96.95%);
      transition: 0.5s ease-in-out;

      .music-player__avatar--image {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-left: 20px;
      }

      .music-player--info {
        display: flex;
        align-items: center;
        gap: 2px;
        flex-grow: 1;
        .music-player__name {
          font-size: 1.4rem;
          font-weight: 400;
          color: #fff;
        }

        & > .line {
          font-size: 1.5rem;
          color: #fff;
        }

        .music-player__title {
          font-size: 1.6rem;
          font-weight: 400;
          color: #fff;
        }
      }
      .music-player__controllers--container {
        display: flex;
        align-items: center;
        gap: 7px;

        & > .play-icon--container {
          background-color: #fa7f02;
          display: grid;
          place-content: center;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }

        & > .arrow-icon {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }
      &.open {
        position: absolute;
        height: calc(100% - 52px);
        flex-direction: column;
        .music-player__avatar--image {
          // width: calc(100% - 15px);
          // height: 50%;
          // object-fit: cover;
        }
      }
    }

    .navigation {
      position: sticky;
      bottom: 0;
      z-index: 10;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 7px 0;
      justify-content: space-around;
      background: linear-gradient(180deg, #653061 0%, #1f344b 100%);
      border-top: 1px solid rgba(140, 138, 138, 0.15);
    }
  }
}
